<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <exclude-pattern>./src/Infrastructure/Migrations/*</exclude-pattern>
    <file>src</file>
    <file>tests</file>
    <rule ref="PSR2"></rule>
</ruleset>
